:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  ---grey: #eee;
  --dark-grey: #222831;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  font-family: Verdana, sans-serif;
}
body {
  background-color: var(---grey);
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 10rem;
}

/* start here */
.text {
  text-align: center;
  margin-bottom: 2rem;
}
.tabs {
  display: flex;
  border: 1px solid var(---grey);
  overflow: hidden;
}
.tab-links {
  width: 25%;
  z-index: 1;
}
.tab-link {
  padding: 1.2rem;
  width: 100%;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: var(--dark-grey);
  border-bottom: 2px solid var(--color-primary);
}

.active {
  background-color: var(--white);
}
.tab-contents {
  padding: 1rem;
}
.tap-content {
  display: none;
  animation: slide-right 0.5s ease 1;
  margin: 5px;
}
.about {
  display: block;
}
@keyframes slide-right {
  0% {
     transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 600px) {
  .tab-links {
    width: 50%;
  }
}