

:root {
   --white : white;
   --black : black;
   --blue : blue;
   --lightblue: rgb(76, 76, 240);
   --color-primary: purple;
   --color-secondary : orange;
   --color-grey : grey;
   --color-darkgray :darkgray;

}
* {
    margin : 0;
    padding: 0; 
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
}
img {
    width: 100%;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

h1 {
    font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    color: var(--color-primary);
}
.slider-container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
} 
.arrow {
    width: 2rem;
    margin: 0 1rem;
}
section {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}
section::-webkit-scrollbar {
    height: 5px;
    width: 2px;
    border: 1px solid #d5d5d5;
    background-color: #d5d5d5;
}
section::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0 0 0 .3);

}
section::-webkit-scrollbar-thumb {
    background-color: var(--color-primary);
    outline: 1px solid #2a2c47;
}
section .thumbnail {
    flex: 0 0 auto;
    object-fit: contain;
    cursor: pointer;
    margin: 5px;
    border: 1px solid var(--black);
    border-radius: 3px;
    overflow: hidden;
    transform: scale(.95);
    transition: .3s;
}
.thumbnail img {
    height: 400px;
}
section .thumbnail:hover {
    transform: scale(1);
}
.product-details {
    text-align: center;
    padding-bottom: 2rem;
    background-color: #fff;
}
.product-details h2 {
    font-size: 2.2rem;
    font-weight: 600;
}
.product-details p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color: green;
    font-weight: 700;    
}
.product-details p span {
    font-weight: normal;
    text-decoration: line-through;
    color: red;
}
.product-details a {
    font-size: 1.5rem;
    text-decoration: none;
    background-color: var(--color-secondary);
    color: #fff;
    padding: 7px 10px;
    border-radius: 3px;
    transition: all .3s;
}
.product-details a:hover {
    background-color: var(--color-primary);
}